<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WIIU_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WIIU_Downloader.Properties.Settings>
            <setting name="AppId" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchCount" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>-8, -8, 1936, 1056</value>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>EUR</value>
            </setting>
            <setting name="JPN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="USA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EUR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KOR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TicketsPath" serializeAs="String">
                <value>http://wiiu.titlekeys.gq/</value>
            </setting>
            <setting name="TicketsPath3DS" serializeAs="String">
                <value>http://3ds.titlekeys.gq/</value>
            </setting>
            <setting name="TicketsPathWii" serializeAs="String">
                <value />
            </setting>
            <setting name="Path" serializeAs="String">
                <value>(dl)</value>
            </setting>
            <setting name="ExtractFolder" serializeAs="String">
                <value>(up)</value>
            </setting>
            <setting name="Platforms" serializeAs="String">
                <value>0,30,124,125,165</value>
            </setting>
            <setting name="Mine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show552Warning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameSpecificRoom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompactView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLegit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCFW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEvents" serializeAs="String">
                <value>False</value>
            </setting>
        </WIIU_Downloader.Properties.Settings>
    </userSettings>
</configuration>